         </div><!-- /.container -->
                
                <footer class="footer">
                        <ul class="styled text-muted">
                            <li>Airlines Lounge &copy; 2017</li>
                            <li><a href="http://www.cywinski.pro">www.cywinski.pro</a></li>
                            <li>Github: <a href="https://github.com/wcywin">wcywin</a></li>
                        </ul>   
                </footer>
        

        <!-- jQuery CDN -->
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        
        <!-- Bootstrap JS CDN -->
        <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
        
        <script src="/scripts/search.js"></script>
    </body>
</html>