<% include partials/header %>

<h1>Create a New Airline</h1>

<form action="/airlines" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit!</button>
</form>

<a href="/airlines">Go Back</a>

<% include partials/footer %>