/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f1f2f3;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
/* End General CSS */
/* -----------------*/
/* ejs forms */
.top-form-header {
    text-align: center;
}

.form-width {
    width: 30%;
    margin: 25px auto;
}

.navbar-default .navbar-brand {
    color: #55112d;
}

.navbar-default .navbar-brand:hover {
    color: #3e081f;
}
/* End of ejs forms */
/* -----------------*/
/* Profile page */
.profile {
    padding: 10px;
    margin: 0;
}

.profile h1{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.profile p {
    margin: 10px 20px;
}

.profile img {
    padding: 10px;
    max-height: 250px;
    width: auto;
}

.profile-airlines {
    padding: 10px 20px;
    margin: 0;
}

#small-pic {
    min-height: 180px;
    height: auto;
}

.thumbnail .caption-full {
    padding: 19px;
}
/* End profile page */
/* -------------------------*/
/* Index and Show - Airlines*/
.jumbotron {
    background-color: rgba(85,17,45,0.9);
    color: #f1f2f3;
    height: auto;
    padding: 20px;
}

.jumbotron h1 {
    text-align: center;
    margin-bottom: 25px;
}

.inline {
    display: inline;
}

.equal {
    line-height: 40px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.bordo {
    color: #55112d;
}

.btn-bordo {
    color: #f8f8f8;
    background-color: #55112d;
    border-color: #3e081f;
}

.btn-bordo:hover {
    color: #f8f8f8;
    background-color: #3e081f;
    border-color: #2c0616;
}

.btn-bordo-inverse {
    color: #55112d;
    background-color: #f8f8f8;
    border-color: #f1f2f3;
}

.btn-bordo-inverse:hover {
    color: #55112d;
    background-color: #e1e1e1;
    border-color: #e8e8e8;
}

.vertical {
    vertical-align: middle;
}

.delete-form {
    display: inline;
}

.white {
    background-color: #fff;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

#map {
    height: 400px;
    width: 100%;
}
/* End Index and Show*/
/* -------------------*/
/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* fixed height of the footer */
    height: 60px;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 16px;
}

.styled {
    list-style: none;
    margin-top: 20px;
}

.styled li {
    display: inline;
    padding: 0 15px;
    margin-right: 10px;
    border-right: 1px solid #55112d;
}

.styled li:last-child {
    border-right: none;
}
/* End of footer */
/* -------------------*/
/* Media queries */

@media only screen and (min-width: 771px) and (max-width: 1200px){
    .form-width {
        width: 50%;
        margin: 25px auto;
    }
    
    #small-pic {
        min-height: 160px;
        height: auto;
    }
    
    .thumbnail {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 770px) {
    .form-width {
        width: 60%;
        margin: 25px auto;
    }
    
    .btn-block-small {
        display: block;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #small-pic {
        height: auto;
    }
    
     .thumbnail {
        margin-top: 20px;
    }
}