body {
    background-color: #f1f2f3;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

/* templates forms */
.top-form-header {
    text-align: center;
}

.form-width {
    width: 30%;
    margin: 25px auto;
}
/* End of templates forms */

/* Profile page */
.profile {
    padding: 10px;
    margin: 0;
}

.profile h1{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.profile p {
    margin: 10px 20px;
}

.profile img {
    padding: 10px;
    max-height: 250px;
    width: auto;
}

.profile-airlines {
    padding: 10px 20px;
    margin: 0;
}

#small-pic {
    height: 180px;
}

.thumbnail .caption-full {
    padding: 19px;
}
/* End profile page */

.jumbotron {
    background-color: rgba(85,17,45,0.9);
    color: #f1f2f3;
}

.delete-form {
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

@media only screen and (max-width: 1200px) and (min-width: 769px){
    .form-width {
        width: 50%;
        margin: 25px auto;
    }
}

@media only screen and (max-width: 768px) {
    .form-width {
        width: 60%;
        margin: 25px auto;
    }
}